.code-block {
  font-family: monospace;
  background-color: black;
  color: white;
  /*   padding: 10px; */
  border-radius: 10px;
  line-height: 1.5em;
  width: 100%;
}
code {
  font-family: monospace;
  background-color: black;
  color: white;
  padding: 3px;
  border-radius: 3px;
}
