@keyframes fadein {
  0% {
    background-color: rgba(10, 20, 40, 0);
    z-index: 1;
  }
  50% {
    background-color: rgba(10, 20, 40, 1);    
  }
  100% {
    background-color: rgba(10, 20, 40, 0);
    z-index: 1;
  }
}

html {
  background-color: rgb(10, 20, 40);
  color: white;
  font-family: sans-serif;
}
body {
  margin: 20px;
}
a {
  color: cyan;
}
h1 {
  font-size: 40px;
}
button {
  background-color: transparent;
  color: cyan;
  border: 3px solid cyan;
  border-radius: 5px;
  margin: 3px;
  padding: 5px;
}
.code-block {
  font-family: monospace;
  font-size: 13px;
  background-color: black;
  color: white;
  border-radius: 10px;
  line-height: 16px;
  width: calc(100% - 45px);
  height: calc(100% - 45px);
  resize: none;
  margin: 10px 0px 10px 0px;
  padding: 10px;
  border: 0;
  overflow: auto;
}
#editor {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
  color: transparent;
  background: transparent;
  caret-color: white;
  white-space: pre;
}
#highlighter {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  white-space: nowrap;
}
code {
  font-family: monospace;
  background-color: black;
  color: white;
  padding: 3px;
  border-radius: 3px;
}
.divider {
  background-color: rgba(255, 255, 255, 0.2);
  height: 3px;
  width: calc(100vw - 40px);
  /*   position: absolute; */
  left: 0px;
  margin: 20px 0px 20px 0px;
  /*   box-shadow: 0px 0px 5px white; */
}
.doclink {
  color: rgb(0, 255, 255);
  background-color: rgba(0, 255, 255, 0.1);
  border-radius: 6px;
  padding: 3px;
  transition: all 0.2s ease-out;
}
.doclink:hover {
  background-color: rgba(0, 255, 255, 0.2);
}
#cover {
  z-index: -1;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100vw;
  height: 100vh;
}
.cover {
  animation: fadein 0.6s ease-in-out;
}