.code-block {
  font-family: monospace;
  background-color: black;
  color: white;
  border-radius: 10px;
  line-height: 16px;
  width: calc(100% - 35px);
  height: calc(100% - 35px);
  resize: none;
  margin: 10px;
  padding: 5px;
  border: 0;
  overflow: auto;
}
#editor {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
  color: transparent;
  background: transparent;
  caret-color: white;
}
#highlighter {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
code {
  font-family: monospace;
  background-color: black;
  color: white;
  padding: 3px;
  border-radius: 3px;
}
